*/work
*/sim
*/transcript
*/RezultatRun
TSC2023/tsc-lab3/RezultatRun
TSC2023/tsc-lab4/RezultatRun
TSC2023/tsc-lab5/RezultatRun
TSC2023/tsc-lab5/transcript
TSC2023/tsc-lab5(part2)/RezultatRun
TSC2023/tsc-lab5(part2)/transcript